<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spuddify2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpuddifyTodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31AC1D3D1A2DE73700DC2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AC1D551A2DF21300DC2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AC1D691A2DF25900DC2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31CA119D1A2381F80094F96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31CA11B51A2381F80094F96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
